.background {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    background-color: rgb(0, 75, 196);
    border: solid;
}

#img{
    width: 70px;
    height: 70px;
    margin-left: 35%;
}

#buttonClear{
    background-color: red;
}

#buttonAdd{
    color:rgb(0, 255, 0);
}

#buttonSub {
    color: red;
}

#buttonMulti {
    color:yellow;
}

#buttonDiv{
    color:orange;
}

.buttonNumber {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 3px;
    cursor: pointer;
    background-color: rgb(206, 206, 206);
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 40%;
    padding: 5px;
}

.buttonFunction {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 3px;
    cursor: pointer;
    background-color: rgb(31,31,31);
    border: none;
    color: white;
    border-radius: 40%;
    padding: 5px;
}

.container table .buttonNumber:hover {
    background-color: rgb(168, 168, 168);
}

.container table .buttonFunction:hover {
    background-color: rgb(0, 0, 0);
}
.container table #buttonClear:hover {
    background-color: rgb(202, 1, 1);
}

#buttonEqual {
    width: 220px;
    height: 50px;
    font-size: 25px;
    border-radius: 10%;
    background-color: rgb(31,31,31);
    color: white;
    margin-left: 5%;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    
}

#buttonEqual:hover {
    background-color: black;
}

.display {
    background-color: white;
    width: auto;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

#title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}


