.fundo {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    background-color: rgb(232, 237, 245);
    border: solid;
}

.container table button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 3px;
    cursor: pointer;
    background-color: rgb(31,31,31);
    border: none;
    color: white;
    border-radius: 40%;
    padding: 5px;
}

.container table button:hover {
    background-color: black;
}

.container table #buttonEqual {
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 20%;
}

.container table #buttonEqual:hover {
    background-color: black;
}

.display {
    background-color: white;
    width: 170px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

#title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}


#displayTwo{
    margin-bottom: 10px;
}
